body{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 18px;
}

header, footer{
     background-color: #c3d4d7;
}

.site-title{
     color: #006b8d;
}

#my-image{
     box-shadow: 0 0 2px 1px #000000;
}

main article ul li:nth-child(odd){
     background-color: #ffecb3;
}

main article ul li{
     list-style-type: square;
}

header nav ul li{
     list-style-type: none;
     display: inline-block;
}

header nav ul li a{
     text-decoration: none;
     background-color: #ffecb3;
     color: black;
     border: 1px solid black;
     border-radius: 4px;
     padding: 5px;
     display: inline-block;
}

header nav ul li a:hover, header nav ul li a:focus{
     background-color: #ffca87;
}
